#目录,注释需新起一行
.vs/
#.vscode/
cache/
Backup/
Project/SI.si4project/

#临时文件夹
temp_mdk4/
temp_mdk5/
temp_simulator/
/Ztemp
DebugConfig/
RTE/

#文件
*.wxb
*.dep
*.WXB
*.DZSJ-B08
*.wengu
*.bak
*.bkp

#文件
JLinkLog.txt


*.scvd
