#目录,注释需新起一行
.vs/
#.vscode/
cache/
Backup/
Project/SI.si4project/
Project/vs_prj/vs_prj

#临时文件夹
temp_mdk4/
temp_mdk5/
temp_simulator/
/Ztemp
DebugConfig/
RTE/

#文件
*.wxb
*.dep
*.WXB
*.DZSJ-B08
*.wengu
*.bak
*.bkp

*.scvd
*.json
*.ini
*.uvopt
*.uvoptx
#文件
JLinkLog.txt
Project/MDK-ARM(uV4)/project.uvgui.DZ-B74
Project/MDK-ARM(uV5)/project.uvguix.DZ-B74
Project/MDK-ARM(uV4)/project.uvgui.DZSJ-B85
